body {
	background: url();
	overflow-x: hidden;
	width: 100s%;
}

.selectDisable {-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none; }

a {
	color: inherit;
	cursor: pointer;
}
a:hover, a:active {
	text-decoration: none;
	font-style: none;
}
a:active {
	color : #337ab7;
}

.main-head {
	font-size: 8em;
	font-family: "Sanchez";
	margin-top: 397px;
	margin-left: 75px;
	font-weight: 100;
}

.main-head img {
	height:75px;
	width:75px;
	border-radius:100%;
	margin-bottom: 26px;
	margin-right: 10px;
	opacity: 0.8;
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.main-divider {
	margin-left: 75px;
	width: 55%;
	height: 1px;
	background: black;
	color:black;
	opacity: 0.2;
}

.sub-head {
	font-family: "Sanchez";
	margin-left: 90px;
	margin-top: 30px;
	margin-bottom: 95px;
	line-height: 30px;
	width: 85%;
	color: black;
	opacity: 0.8;
}

.sub-head span {
	font-weight: bold;
	margin-left: 5px;
}

.logo-background {
	height: 1100px;
	width: 1100px;
	position: fixed;
	right: -20%;
	top: -35%;
	-ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    opacity: 0.1;
}

#section-feature {
	margin-top: 50px;
	margin-left: 150px;
}

.section-heading {
	font-size: 2em;
    font-family: "Sanchez";
    color: black;
}

.section-body {
	margin-left: 30px;
	margin-top: 20px;
}

.skill-item {
	font-family: "Sanchez";
}

.skill-item-value {
	font-size: 23px;
	color: grey;
}

.skill-item-name {
	font-size: 17px;
  margin-left: 10px;
}

.additional-items {
	font-family: "Sanchez";
	margin-top: 10px;
}

.additional-items span {
	font-weight: bold;
}

#section-footer {
	margin-top: 50px;
	background-color: black;
	height: 60px;
}

#section-footer div {
	position: relative;
	top: 50%;
	margin-right: 16px;
	text-align: right;
	color: grey;
	font-family: "Sanchez";
	transform: translateY(-50%);
}
