@media only screen and (max-width: 1020px) {
    .main-head {
    	text-align: center;
    	margin-left: 0;
    	line-height: 1;
    }
    .main-head img {
	    display: none;
	}
	.main-divider {
		position: absolute;
		left: 50%;
    	transform: translateX(-50%);
    	margin-left: 0;
    	margin-top: 15px;
	}
	.sub-head {
		margin-left: 30px;
		margin-right: 30px;
		width: auto;
		text-align: center;
	}
	#section-feature {
		margin-left: 0;
	}
	.section-heading {
		margin-left: 25px;
	}
	.section-body {
		margin-left: 40px;
		margin-right: 30px;
	}
}

@media only screen and (max-width: 815px) {
    .logo-background {
	    height: 146vw;
	    width: 146vw;
	    right: -22.3vw;
	    top: -37vw;
	}
}

@media only screen and (max-width: 768px) {
    .top-side-nav {
    	/*position: absolute;
    	padding: 18px;
    	margin-top: 0;
    	top: 0;
		float: none;
	    width: 104%;
    	background-color: rgba(0, 0, 0, 0.07);*/
    	display: none;
	}
	/*.top-side-nav a {
		text-align: center;
	}
	.top-side-nav span {
		font-size: 23px;
	}*/
	#section-footer div {
		margin-right: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 515px) {
    .logo-background {
	    /*height: 750px;
	    width: 750px;
	    transform: translate(8%,-00%);*/
	    display: none;
	}
	.main-head {
		margin-top: 70px;
		background-color: #E6E6E6;
		color: white;
		text-shadow: 0 0 1px #000000;
		font-size: 5em;
	}
	.sub-head {
		margin-bottom: 0;
	}
	.main-divider {
		display: none;
	}
	.sub-text {
		margin-top: 50px;
	    line-height: 40px;
	    margin-left: 20px;
	    margin-right: 20px;
	}
}

@media only screen and (max-width: 375px) {
    .logo-background {
	    /*height: 750px;
	    width: 750px;
	    transform: translate(8%,-00%);*/
	    display: none;
	}
	.main-head {
		margin-top: 70px;
		background-color: #E6E6E6;
		color: white;
		text-shadow: 0 0 1px #000000;
		font-size: 5em;
	}
	.sub-head {
		margin-bottom: 0;
	}
	.skill-item-icon {
		display: none;
	}
	.skill-item-icon i {
		display: none;
	}
	.break-links {
		display: block;
	}
	.about-links .link {
		margin: 0px;
	}
}